@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #003878;
  --secondary: #edf0f2;
  --max-width: 1200px;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --spacing-wrapper: var(--max-width);
}

.wrapper-spacing {
  @apply max-w-wrapper mx-4 w-full py-6 sm:mx-16;
}
